:root {
  --base : #A0AFB3;
  --accent-light : #ffffff;
  --primary: #EF6C7F;
  --accent-dark: #DC4669;
  --base-dark: #1F1628;
}

.feed::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--base);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

feed-post:last-child {
  margin-bottom: 3rem;
}